.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-offline {
    border: solid 1px #3b3b3b;
}

.login-text {
    font-size: 30px;
}

.login-text-desc {
    font-size: 15px;
    font-weight: lighter;
}

.connect {
    background: none;
    color: var(--color);
    background-color: #2379ee;
    border: solid 1px #5aa0ff;
    border-radius: 13px;
    padding: 0.4rem 4rem;
    font-family: Poppins;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}

.connect:hover {
    background-color: #0d51ad;
    border: solid 1px #2e6dc5;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cancel {
    background: none;
    color: var(--color);
    border: solid 4px var(--element-color);
    border-radius: 10px;
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 1px #343434;
    border-radius: 7px;
    width: 80%;
    padding: 0.6rem 1rem;
    margin-top: 10px;
    font-size: 16px;
    background-color: #181818;
    font-family: Poppins;
}