@import '../assets/css/font.css';
@import '../assets/css/theme.css';
@import '../assets/css/panels/login.css';
@import '../assets/css/panels/home.css';
@import '../assets/css/panels/settings.css';

body {
    background-color: rgb(36, 36, 36);
}

h1 {
    color: white;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
}

p {
    color: white;
    font-family: Poppins;
}

label {
    color: white;
    font-family: Poppins;
}

.formbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border: solid 1px #6b6b6b;
    border-radius: 15px;
}

.warnbox {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: rgb(177, 110, 56);
    border: solid 1px #fa9f37;
    border-radius: 15px;
}

button {
    background: none;
    color: white;
    background-color: #2379ee;
    border: solid 1px #5aa0ff;
    border-radius: 13px;
    padding: 0.4rem 4rem;
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 5px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #0d51ad;
    border: solid 1px #2e6dc5;
    cursor: not-allowed;
    transition-duration: 0.4s;
}